<template>
  <div class="vippage">
    <user-info :headerInfo='vipInfo'></user-info>
    <div class="line"></div>
    <p class="equities">{{equities}}</p>
    <div class="equitieslist">
      <div v-for="list in vipInfo.vip">
        <div v-bind:class="['eqlist',{ movetop: list.sign == 'code' }]">
          <p class="list-desc">{{list.name}}</p>
        </div>
        <div class="code" v-if='list.desc' v-for='desc in list.desc'>
          <p class="code-desc">({{desc.id}}){{desc.name}}:</p>
          <p class="code-desc">{{desc.code}}</p>
          <button class="copy" v-clipboard:copy="desc.code"
                  v-clipboard:success="onCopy">复制</button>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="skin">
      <p class="skin-title">{{skinTitle}}<span class="skin-reset" @click="resetColor()">{{reset}}</span></p>
      <theme :themes='vipInfo.skin'></theme>
    </div>
    <p class="log"></p>
  </div>
</template>

<script type="text/ecmascript-6">
  import devices from '../../common/js/devices'
  import userinfo from '../../components/userinfo/userinfo.vue'
  import theme from '../../components/theme/theme.vue'
  function getInfoByLogin(self){
    var loginI = 0;
    var loginTimer = setInterval(() =>{
        loginI++;
        self.wkInfo = JSON.parse(window.WKAPI.getUserInfo()) || '';
        if(self.wkInfo.login == true){
          clearInterval(loginTimer);
          //我知道这样不好 但是为了等咪咕的回调
          setTimeout(function(){},10000);
          var planId = self.$route.params.planId;
          var url = self.miguapi + 'migu/getPayApi?id=' + planId + "&uid=" +
          self.wkInfo.wkuid + "&" +devices.getUrlBaseArg();
          self.$http.get(url).then(response => {
            $('.shadow-div').hide();
            response = response.body;
            if (response.status == 0) {
              if (response.data.is_pay == 0) {
                window.location.href = decodeURIComponent(response.data.url)
                self.$router.replace({ path: '/' })
              } else {
               var vipurl = self.miguapi + "migu/getMiguRightByUserid?id=" + planId + "&uid=" + self.wkInfo.wkuid + "&" + devices.getUrlBaseArg();
                self.$http.get(vipurl).then(response => {
                  response = response.body;
                  if (response.status == 0) {
                      self.vipInfo = response.data;
                      self.$set(self.vipInfo,'wkuid',self.wkInfo.wkuid)
                      $('.vippage').show();
                  }
                })
              }
            }
          })
        }else if(loginI > 50){
          //login error
          clearInterval(loginTimer);
          self.$router.push({ path: '/' })

        }
    },1000);
  }
  export default {
    data(){
      return {
        wkInfo: '',
        vipInfo: '',
        equities: '会员权益',
        removeAD: '会员去广告',
        skinTitle: '主题换肤',
        reset:'重置主题'
      }
    },
    created(){
      document.title = '咪咕会员'
      $('.shadow-div').show();
      var i = 0;
      var timer = setInterval(() =>{
          if(!!window.WKAPI){
              clearInterval(timer);
              this.wkInfo = JSON.parse(window.WKAPI.getUserInfo()) || '';
              if(this.wkInfo == '' || this.wkInfo.login == false){
                //引导到登录页
                window.WKAPI.omnipotentFunction('login', '', '');
              }
            getInfoByLogin(this);
          }
      /* else{
         /!*
          * app外测试
         * *!/
         if(i++ > 4){
           clearInterval(timer);
           $('.shadow-div').hide();
           var url = "http://test.api.wukongtv.com/migu/getMiguRightByUserid?id=3&uid=b2dPZW81cHR6QXM9ITdnMVRvQ1B5ajd1MGNNM01aQ0hIZ0E9PQ==&c=lestore&v=328&dev=android"
           this.$http.get(url).then(response => {
             response = response.body;
             if (response.status == 0) {
               this.vipInfo = response.data;
               $('.vippage').show()
              }
           })
         }
       }*/
      },500)
    },
    props: {},
    methods: {
      onCopy: function (e) {
        $('.log').text("复制成功");
        $('.log').fadeIn(300).delay(800).fadeOut(300);
      },
      resetColor:function(){
        if(window.WKAPI && window.WKAPI.omnipotentFunction){
          window.WKAPI.omnipotentFunction('remote_control_bg_color','','');
        }
        $('.choose-icon').hide();
        document.cookie = "wk_remote_theme=-1; expires=Thu, 01 Jan 2037 00:00:00 UTC; path=/";
      }
    },
    components: {
      "user-info": userinfo,
      'theme': theme,
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .line
    height 12px
    background #f7f7f7
    width 100%

  .equities
    font-size 0.32em
    color #333333
    margin 0.24rem 0px 0.24rem 0.24rem

  .equitieslist
    margin-left 0.24rem
    padding-top 0.2rem
    padding-bottom 0.6rem
    padding-right 0.24rem
    border: none
    border-top: 0.002rem solid #e1e1e1

  .eqlist
    height 0.48rem
    margin-top 0.4rem
    font-size 0.28em
    line-height 1
    display flex
    align-items center
    justify-content: space-between

  .copy
    font-size 1em
    color #7174ff
    background transparent
    padding 0.1rem 0.16rem
    border 1px solid #7174ff
    outline none
    user-select none
    -webkit-touch-callout none
    border-radius 4px

  .movetop
    margin-bottom 0.2rem

  .code
    display flex
    margin-bottom 0.24rem
    font-size 0.28em
    align-items center
    justify-content: space-between

  .skin-title
    margin 0.32rem 0px 0.24rem 0.24rem
    font-size 0.32em
    color #333333

  .skin-reset
    font-size 0.7em
    color #7174ff
    float right
    margin-right 0.24rem
  .vippage
    display none;
  .log
    display none
    position absolute
    background rgba(0,0,0,0.6)
    font-size 0.28em
    padding 0.1rem 0.16rem
    text-align center
    width 2.4rem
    color #ffffff
    z-index 1001
    left 50%
    margin-left -1.2rem
    bottom 0.6rem
    border-radius 8px
</style>
