<template>
  <div>
    <my-card :bannerList='banners'></my-card>
    <div v-for="(list,index) in vipLists" v-bind:class="[{ last: isLast(index) },{ marqueelast: (isLast(index) && marquee.length > 0) },'vip-list']" v-cloak>
      <router-link :to="{ 'path': '/buyorshow/' + list.id }">
        <div class="vip-info">
          <img class="vip-icon" :src="list.icon"/>
          <p class="vip-name">{{list.name}}</p>
        </div>
        <p class="vip-desc" v-for="desc in list.active">{{desc}}</p>
      </router-link>
    </div>
    <marquee v-if="marquee.length > 0" class= 'marquee' direction="left" behavior="scroll" scrollamount="10" scrolldelay="0" loop="-1" hspace="10" vspace="10">{{marquee}}
    </marquee>
  </div>
</template>

<script type="text/ecmascript-6">
  import devices from '../../common/js/devices'
  import myCard from '../../components/banner/banner.vue'
  export default {
    data(){
      return {
        vipLists: {},
        banners: {},
        urlparam:'',
        marquee:''
      }
    },
    created(){
      document.title = '咪咕会员'
      $('.shadow-div').show();
      var api = this.miguapi;
   /*   var url = 'http://test.api.wukongtv.com:20001/migu/getMiguInfo?c=update2&iv=328&dev=ios&hash=0';
      this.urlparam = url.split('?')[1];
      this.$http.get(url).then(response => {
        response = response.body;
        $('.shadow-div').hide();
        if (response.status == 0) {
          this.vipLists = response.data.vipLists;
          this.banners = response.data.banner
        }
      })*/
      /*
      * 遥控器中
      * */
      var timer = setInterval(() =>{
        var i = 0;
        if(!!window.WKAPI){
          var url = api + "migu/getMiguInfo?" + devices.getUrlBaseArg() + "&hash=0";
          this.$http.get(url).then(response => {
            response = response.body;
            if (response.status == 0) {
              $('.shadow-div').hide();
              this.vipLists = response.data.vipLists;
              this.banners = response.data.banner;
              if(response.data.marquee){
                this.marquee = response.data.marquee;
              }
            }
          })
          clearInterval(timer);
        }else{
          if(i++ > 4)
            clearInterval(timer)
          }
      },500)
    },
    mounted(){
//      if(!devices.getCookie('wk_remote_theme')){
//        document.cookie = "wk_remote_theme=0; expires=Thu, 01 Jan 2037 00:00:00 UTC; path=/";
//      }
    },
    props: {},
    methods: {
      isLast: function (index) {
        if (index == this.vipLists.length - 1) {
          return true
        } else {
          return false
        }
      },
    }
    ,
    components: {
      'my-card': myCard
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .banner
    font-size 18px
    text-align center

  .banner-img
    width: 100%;
    height: 3.36rem;
    display: block;
    outline: none;

  .vip-list
    position: relative;
    margin-top: 0.48rem;
    margin-bottom: 0rem;
    margin-left: 0.48rem;
    -webkit-user-select none
    -webkit-tap-highlight-color transparent
    background-color transparent
    -webkit-text-decoration-skip objects
    -webkit-touch-callout none
    & > a
      text-decoration none
      user-select none
      &.active
        background transparent

  .last
    margin-bottom 0.48rem
  .marqueelast
    margin-bottom 0.78rem
  .vip-info
    height: 0.54rem;
    margin-bottom: 0.12rem;

  .vip-icon
    height: 0.54rem;
    width: 0.54rem;
    margin-right: 0.18rem;
    float: left;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-right: 0rem;

  .vip-name
    font-size: 0.32em;
    color: #333333;
    margin-bottom: 0.10rem;
    line-height: 0.54rem;

  .vip-desc
    font-size: 0.24em;
    color: #666666;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 0.27rem;
  .marquee
    margin 0px!important
    position fixed
    font-size 0.28em
    padding-top 0.12rem
    padding-bottom 0.12rem
    padding-left 0px
    padding-right 0px
    color  #666666
    background #e1e1e1
    bottom 0px;
    left 0px
    right 0px
</style>
