<template>
  <div>
    <div class="fdiv" @click="cancel()">
      <div class="order-dialog">
        <p class="close" @click="cancel()">x</p>
        <p class="ptitle">你确定要退订咪咕会员及其相关业务吗</p>
        <div class="order-btn">
          <button class="ok" @click="cancelOrder()">确定</button>
          <button class="cancle" @click="cancel()">取消</button>
        </div>
      </div>
    </div>
    <div class="user-header">
      <img class="user-icon" :src="headerInfo.headimg">
      <div class="user-font">
        <p class="server">{{headerInfo.server}}</p>
        <p class="uid">会员ID: {{headerInfo.uid}}</p>
      </div>
      <button v-show="headerInfo.is_cancel == 1" id="td" @click="td()">退订</button>
      <button v-show="headerInfo.is_cancel == 2" id="tded">已退订</button>
    </div>
    <p class="order-toast"></p>
  </div>
</template>

<script type="text/ecmascript-6">
  import devices from '../../common/js/devices'
  export default {
    props: {
      headerInfo: ''
    },
    methods: {
      td:function () {
        $('.fdiv').show();
      },
      cancel:function () {
        $('.fdiv').hide();
      },
      cancelOrder:function () {
        $('.fdiv').hide();
        document.getElementsByClassName('toast')[0].innerText = '退订中...';
        $('.shadow-div').show();
        var url = this.miguapi + 'migu/cancelOrder?' + devices.getUrlBaseArg();
        var formData = new FormData();
        formData.append('orderid', this.headerInfo.orderid);
        formData.append('uid', this.headerInfo.wkuid);
        this.$http.post(url,formData).then(response => {
          response = response.body;
          if (response.status == 0) {
            $('.shadow-div').hide();
            if(!!response.data){
              var data = response.data;
              switch (data.errorno){
                case '00000000':
                  $('#td').hide();
                  $('#tded').show();
                  $(".order-toast").text(data.errormsg).fadeIn(400).delay(3000).fadeOut(400);
                  break;
                default:
                  $(".order-toast").text(data.errormsg).fadeIn(400).delay(3000).fadeOut(400);
                  break;
              }
            }
          }
        })
      }

    },
    components: {}
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .fdiv
    display none
    position fixed
    top 0px
    left 0px
    right 0px
    bottom 0px
    background rgba(0,0,0,0.5)
    z-index 1012

  .close
    float right
    width 0.36rem
    height 0.36rem
    border-radius 0.72rem
    line-height 0.36rem
    z-index 1013
    font-size 0.28rem
    background rgba(255,255,255,0.5)
    color #666666
    text-align center
    margin-right -0.12rem
    margin-top -0.12rem

  .order-dialog
    position fixed
    top 50%
    width 5.2rem
    left 50%
    margin-left -2.6rem
    transform: translateY(-50%);
    background #ffffff
    border none
    border-radius 6px
  .ptitle
      font-size 0.24em
      color #666666
      text-align center
      line-height 1.4
      padding-top 0.5rem
      padding-bottom 0.24rem
  .order-btn
    text-align center

  .ok,.cancle
    font-size 0.28em
    color #ffffff
    background #7174ff
    padding 0.1rem 0.28rem
    border 1px solid #7174ff
    outline none
    user-select none
    -webkit-touch-callout none
    border-radius 6px
    margin-bottom 0.3rem
  .ok
    margin-right 0.2rem

  .cancle
    margin-left 0.2rem

  .order-toast
      display none;
      position fixed
      width 4rem
      bottom 0.36rem
      text-align center
      border-radius 6px
      padding 0.12rem 0.24rem
      background rgba(0,0,0,0.5)
      font-size 0.28em
      color #ffffff
      transform translateX(-50%)
      left 50%

  .user-header
    display flex
    align-items center
    height 0.88rem
    padding 0px 0.24rem
    margin 0.36rem 0px;

  .user-icon
    float left
    height 0.88rem
    width 0.88rem
    border-radius 0.88rem
    display inline-block

  .user-font
    margin-left 0.24rem
    line-height 1

  .server
    font-size 0.28em
    color #333333
    margin-bottom 0.16rem

  .uid
    font-size 0.24em
    color #999999
  #td
    position: absolute;
    right: 0.24rem;
    font-size 0.28em
    color #7174ff
    background transparent
    padding 0.1rem 0.2rem
    border 1px solid #7174ff
    outline none
    user-select none
    -webkit-touch-callout none
    border-radius 4px
  #tded
    position: absolute;
    right: 0.24rem;
    font-size 0.28em
    color #e1e1e1
    background transparent
    padding 0.1rem 0.2rem
    border 1px solid #e1e1e1
    outline none
    user-select none
    -webkit-touch-callout none
    border-radius 4px
</style>
