<template>
  <div>
    <scroller :on-refresh="refresh"
              :on-infinite="infinite">
      <img src="./migu_banner.png" @click="gotoMiguVip()" class="migubanner">
      <div v-for="(item,index) in gameData" class="gamelsit" @click="downloadGame(item.download_url)">
        <div class="row imgrow">
          <img class="gameicon" :src="item.logo" @error="imgDefault(index)">
        </div>
        <div class="row prow">
          <p class="gamename">{{item.name}}</p>
          <p class="gamedesc">{{item.intro}}</p>
        </div>
        <div class="row btnrow">
          <button class="gamedown">下载</button>
        </div>
      </div>
    </scroller>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    data(){
      return {
        gameData: [],
        pageNum:1,
      }
    },
    created(){
      document.title = "游戏专区"
      var url = this.miguapi + 'migu/getApp?page=' + this.pageNum;
      this.$http.get(url).then(response => {
        response = response.body;
        if (response.status == 0) {
          $('.shadow-div').hide();
          $('.migubanner').show()
          this.gameData = response.data;
        }
      })
    },
    mounted: function () {
      document.getElementsByClassName('toast')[0].innerText = '游戏列表获取中...';
    },
    props: {},
    methods: {
      gotoMiguVip:function () {
        this.$router.push({ path: '/' })
      },
      imgDefault:function(index){
        this.gameData[index].logo = require('./ic_share_init.png');
      },
      downloadGame: function (url) {
        if (!!window.WKAPI) {
          window.WKAPI.allowDownloadForOnce()
        }
        window.location.href = url;
      },
      refresh: function (done) {
        var self = this
        console.log('refresh')
        done();
      },
      infinite: function (done) {
        var self = this;
        var url = self.miguapi + 'migu/getApp?page=' + (++self.pageNum);
        this.$http.get(url).then(response => {
          response = response.body;
          if (response.status == 0) {
            $('.shadow-div').hide();
            for(var i=0;i<response.data.length;i++){
              self.gameData.push(response.data[i]);
            }
            done();
          }
        })
      }
    },
    components: {}
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .gamelsit
    display flex
    padding-left 0.24rem
    padding-right 0.24rem
    padding-top 0.12rem
    padding-bottom 0.12rem
    border-bottom 1px solid #e1e1e1

  .row
    display flex
    & > .gameicon
      width 0.72rem
      height 0.72rem
      align-items center
    & > .gamename
      font-size 0.30em
    & > .gamedesc
      font-size 0.26em
      overflow hidden
      text-overflow ellipsis
      display -webkit-box
      -webkit-line-clamp 3
      -webkit-box-orient vertical

    & > button
      position absolute
      right 0.24rem
      padding 0.14rem 0.24rem
      background #7174ff
      color #ffffff
      font-size 0.28em
      border-radius 8px
      border none
      outline none
      user-select none
      -webkit-touch-callout none

  .prow
    flex-direction column
    margin-right 0.24rem

  .imgrow
    margin-right 0.24rem
    align-items center

  .btnrow
    flex-basis 100%
    align-items center
  .migubanner
    display none
    width 100%
    height 2.32rem
</style>
