<template>
  <div class="theme-list">
    <div class="theme" v-for='(theme,index) in themes' @click="setColor(theme.color,index)">
      <div class="theme-div" v-bind:style="{ backgroundColor: theme.color }">
        <img class="choose-icon" src="./ic_choose_2x.png" v-show='isShow(index)'>
        <p class="theme-name">{{theme.name}}</p>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  import devices from '../../common/js/devices'
  export default {
    props: {
      themes: ""
    },
    methods: {
      setColor:function(rgb,index){
        if(window.WKAPI && window.WKAPI.omnipotentFunction){
          window.WKAPI.omnipotentFunction('remote_control_bg_color',rgb,'');
        }
        $('.choose-icon').hide();
        $($('.choose-icon')[index]).show();
        document.cookie = "wk_remote_theme=" + index;
      },
      isShow:function(index){
          return devices.getCookie('wk_remote_theme') === index
      }
    },
    components: {}
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .theme-list
    margin-left 0.68rem
    margin-right 0.68rem
    display flex
    align-items center
    /*justify-content: space-between*/
    flex-wrap wrap

  .theme
      width 25%
      height 1.6rem
  .theme-div
    height 0.96rem
    width 0.96rem
    border-radius 0.96rem
    margin-bottom 0.2rem
  .theme-name
    font-size 0.2em
    color #999999
    text-align center
    padding-top 1.12rem
  .choose-icon
    float right
    width 0.24rem
    height 0.24rem
    margin-top 0.72rem;
</style>
