<template>
  <div id="app">
    <div class="shadow-div">
      <div class="myspinner">
        <cube-spin size='110px'> </cube-spin>
      </div>
      <p class="toast">权益获取中,请稍后...</p>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
  import {Circle6} from 'vue-loading-spinner'
  export default {
    name: 'app',
    data () {
      return {
      }
    },
    components: {
      'cube-spin':Circle6
    }
  }
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  @import "../src/common/stylus/main.styl"
  .shadow-div
    position absolute
    z-index 1001
    top 0px
    left 0px
    right 0px
    bottom 0px
    background rgba(0,0,0,0.6)
  .myspinner
    position absolute
    top:50%
    margin-top -60px
    left 50%
    margin-left -60px
    z-index 1002
  .toast
      position absolute
      width 3.2rem
      font-size 0.28em
      line-height 1.5
      color #ffffff
      text-align center;
      top:50%
      left 50%
      margin-top 0.8rem
      margin-left -1.6rem
</style>
