<template>
  <div>
      <!-- swiper -->
      <swiper :options="swiperOption">
        <swiper-slide v-for="(banner,index) in bannerList">
          <img class="banner-img" :src='banner.imgurl' @click="gotoPage(banner.router.action)">
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
  </div>
</template>

<script>
  export default {
    props:{
      bannerList:{}
    },
    data() {
      return {
        swiperOption: {
          pagination: '.swiper-pagination',
          paginationClickable: true
        }
      }
    },
    methods:{
      gotoPage:function(url){
        if(!!url && url!=''){
          console.log(decodeURIComponent(url));
           window.location.href = decodeURIComponent(url);
        }
      }
    }
  }
</script>
